<div class="col s12">
    <h5>{{name}}</h5>
    <button class="waves-effect waves-light btn close-btn right hide"><i class="material-icons right">close</i></button>
    <p><b>Use this resourece to connect on other chat</b><br />{{resource}}</p>
</div>
