<div class="card-panel teal lighten-2 white-text"></div>

<section class="discover">

  <form class="form col s12">

    <div class="row">
      <div class="input-field col s12">
        <input placeholder="your friend's email" id="email" required aria-required="true" type="text" class="friend-email validate">
        <label for="email" style="width: 100%;" data-error="the email format should be like user@domain.pt">search by email</label>
      </div>
      <div class="input-field col s12">
        <input class="input-domain" name="domain" id="domain" type="text">
        <label for="domain">Participant domain</label>
      </div>
    </div>

    <div class="row">
      <input type="checkbox" class="checkBox" id="checkBoxGlobal" />
      <label for="checkBoxGlobal">Global Discovery Search</label>
    </div>
    <div class="row">
      <div class="input-field col s8">
        <button class="search waves-effect waves-light btn" type="submit"><i class="material-icons left">search</i>Search</button>
      </div>
    </div>
  </form>

  <div class="loader"></div>

  <div class="col s12">
    <ul class="collection hide">
      <li class="collection-header"><h4>User Hyperty</h4></li>
    </ul>
  </div>

</section>

<section class="video-holder col s12 hide" style="position: relative;">

  <video class="my-video responsive-video" muted style="background-color: black; position: absolute; top: 10px; right: 10px; with: 80px; height: 80px;" autoplay></video>

  <video class="video responsive-video" style="background-color: black;" autoplay></video>

  <div class="row">
    <button class="camera waves-effect waves-light btn"><i class="material-icons left">videocam_off</i></button>
    <button class="mute waves-effect waves-light btn"><i class="material-icons left">volume_off</i></button>
    <button class="mic waves-effect waves-light btn"><i class="material-icons left">mic</i></button>
    <button class="hangout waves-effect waves-light btn"><i class="material-icons left">call_end</i></button>
  </div>

</section>

<!-- Modal Structure -->
<div class="modal modal-call">
  <div class="modal-content">
    <h4>Call Incoming From</h4>
    <span class="information"></span>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat btn-reject">Reject</a>
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat btn-accept">Accept</a>
  </div>
</div>
