<h2>CodeGeneratorReporter Hyperty</h2>

<div class="create-panel">
  <form class="create">
    Observer Email: <input class="message-input" type="text" name="message" id="email">
    <input type="submit" value="Submit">
  </form>
</div>

<div class="request-code-panel" style="display:none;">
  <form class="requet-code">
    Team name: <input class="message-input" type="text" name="message" id="name">
    <input type="submit" value="Submit">
  </form>
</div>

<div class="code-panel">
</div>
