<div>
  <button class="btn waves-effect waves-light create-room-btn" type="button"><i class="material-icons left">chat</i>Create Chat</button>
  <button class="btn waves-effect waves-light join-room-btn" type="submit" name="action">Join<i class="material-icons right">join</i></button>
</div>
