<div class="section">

  <div class="valign-wrapper chat-header blue lighten-5">

  </div>

  <div class="row">

    <div class="rooms col s12 m4">
      <!-- Grey navigation panel -->
      <ul class="collection with-header">
        <li class="collection-header">Rooms<span class="new badge">0</span></li>
     </ul>
    </div>

    <div class="conversations col s12 m8">

      <div class="row valign-wrapper">

        <div class="col s6">
          <span class="title">Add Participant</span>
        </div>

        <div class="col s6 right-align">
          <button class="btn waves-effect waves-light add-participant-btn" type="submit" name="action">Add<i class="material-icons right">add</i></button>
        </div>

      </div>

      <div class="divider"></div>

      <div class="row">

        <ul class="participant-list">
        </ul>

      </div>

       <div class="divider"></div>

      <div class="row messages">
        <ul class="collection">
        </ul>
      </div>

      <div class="row">

        <form class="col s12 message-form">
          <div class="row">
            <div class="input-field col s8">
              <i class="material-icons prefix">mode_edit</i>
              <textarea name="message" id="icon_prefix2" class="materialize-textarea input-message"></textarea>
              <label for="icon_prefix2">Message</label>
            </div>

            <div class="col s4">
              <button class="waves-effect waves-light btn send-message-btn" type="submit"><i class="material-icons right">send</i>send</button>
            </div>
          </div>
        </form>

      </div>

    </div>
  </div

</div>
